.part3{
	display: none;

	.crumb-bg{
		background-color: rgb(255, 251, 244); //#fffbbf4
		width: 100%;
	   	position: absolute;
	   	top: 0;
	   	right: 0;
	   	z-index:-1;
	}	
	.crumb{
		position: absolute;
	}

	.crumb-1{
		width: 50%;
		top: 0;
		left: 40%;
	}
	.crumb-2{
		width: 50%;
		top: 0;
		left: 0;
	}
	.crumb-3{
		width: 50%;
		top: 0;
		left: 0;
	}
	.crumb-4{
		width: 50%;
		top: 0;
		left: 0;
	}
	.crumb-5{
		width: 50%;
		top: 0;
		left: 0;
	}
	.crumb-6{
		width: 50%;
		top: 0;
		left: 0;
	}
	.crumb-7{
		width: 50%;
		top: 0;
		left: 0;
	}
	.crumb-8{
		width: 50%;
		top: 0;
		left: 0;
	}
}