$desktop-bp: 1280px;
$tablet-bp: 768px;
$header-font: 'Bigshot One', cursive;
$copy-font: 'Alice', serif;





@mixin bp-desktop {
	@media only screen and (min-width: $desktop-bp) {
		@content;
	}
}

@mixin bp-desktop {
	@media only screen and (min-width: $tablet-bp) {
		@content;
	}
}