/* 
==============================================
CONTENT:	Hansel & Gretel E-book
AUTHOR:		Cassandra Desrosiers & Danny McMillan
==============================================

TABLE OF CONTENTS:

0. Reset
1. Main Layout
2. Content

==============================================
*/

/* 0. Reset ================================= */
@import 'reset';


/* 1. Main Layout ================================= */

* {
	box-sizing: border-box;
}

body, html {
	background: #ccc;
}

.test{
	width: 100px;
	height: 100px;
	margin: 20px;
}
section{
	position: relative;
}
.part1{
		background: purple;
		height: 100vh;

	p{
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate( -50%, -50%);
	}
	.house{
		background-color: black;
	}
	.trees{
		background-color: green;
	}
	.sun{
		background-color: yellow;

	}
	.path{
		background-color: gray;
	}
	.hansel{
		background-color: blue;
	}
	.gretel{
		background-color: red;
	}
}

.part2{
	background-color: orange;
	height: 100vh;
}

/* 2. Content ================================= */

