/* 
==============================================
CONTENT:	Hansel & Gretel E-book
AUTHOR:		Cassandra Desrosiers & Danny McMillan
==============================================
TABLE OF CONTENTS:
0. Reset
1. Main Layout
2. Content
==============================================
*/

/* 0. Reset ================================= */
@import 'reset';
$header-font: 'Bigshot One', cursive;
$copy-font: 'Alice', serif;

/* 1. Main Layout ================================= */

* {
	box-sizing: border-box;
}

body, html {
	background: #ccc;
	width: 100%;
}


.part1 {
	position: absolute;
	width: 100%;
	background-image: url(../img/sky.png);
	background-repeat: no-repeat;
	background-size: cover;

	h1 {
		font-family: $header-font;
		position: relative;
		top: 50%;
		left: 50%;
		transform: translate( -50%, -50%);
		z-index: 99999;
	}

	.sky {
		position: absolute;
		
		.cloud {
			position: absolute;
			border: 1px black solid;
			width: 30px;
			height: 10px;
		}

		.sun img {
			position: relative;
			width: 200px;
			height: 200px;
		}

		.hills {
			position: absolute;
		}

		.hills img {
			width: 800px;
			height: 500px;
		}

		.hill_1 img {
			position: relative;
			margin-top: 180px;
			border: 1px red solid;
			
		}
		.hill_2 img {
			position: relative;
			left: 38;
		}
	}
}



/* 2. Content ================================= */

