/* 
==============================================
CONTENT:	Hansel & Gretel E-book
AUTHOR:		Cassandra Desrosiers & Danny McMillan
=============sΩß=================================

TABLE OF CONTENTS:

0. Reset
1. Main Layout
2. Content

==============================================
*/

/* 0. Reset ================================= */
@import 'viewports';
@import 'reset';
@import 'container';

/* 1. Main Layout ================================= */

* {
	box-sizing: border-box;
}

body, html {
	background: #ccc;
	width: 100%;
}
















/* 2. Content ================================= */

